Source: pr-openrave
Section: misc
Priority: extra
Maintainer: Michael Koval <mkoval@cs.cmu.edu>
Standards-Version: 3.9.5
Homepage: http://openrave.org/
Vcs-Git: https://github.com/personalrobotics/openrave.git
Vcs-Browser: https://github.com/personalrobotics/openrave
Build-Depends: debhelper (>= 8.0.0), cmake, pkg-config,
 libbz2-dev, libpcre3-dev,
 libcoin80-dev, libsoqt4-dev,
 libode-dev,
 libann-dev,
 libqhull-dev,
 libmpfi-dev,
 libgmp,
 libassimp-dev,
 collada-dom2.4-dp-dev,
 collada-dom-dev,
 libavcodec-dev, libavformat-dev, libswscale-dev,
 python-dev,
 python-numpy,
 python-sympy,
 libboost1.54-dev,
 libboost-date-time1.54-dev,
 libboost-filesystem1.54-dev,
 libboost-iostreams1.54-dev,
 libboost-python1.54-dev,
 libboost-regex1.54-dev,
 libboost-system1.54-dev,
 libboost-thread1.54-dev,
 libboost-wave1.54-dev,
 libxml2-dev,
 libopenscenegraph-dev,
 libopenthreads-dev,
 zlib1g-dev,
 liblog4cxx10-dev,
 libbullet2.82-dev,
 libpcre++-dev

Package: pr-openrave
Architecture: any
Depends:
 ${shlibs:Depends}, ${misc:Depends},
 libbz2-1.0, libpcre3, libpcrecpp0,
 libcoin80, libsoqt4-20,
 libode1,
 libann0,
 libqhull6,
 libmpfi0,
 libgmp-dev,
 libassimp3,
 collada-dom2.4-dp-base,
 libavcodec54 | libavcodec-extra-54,
 libavformat54 | libavformat-extra-54,
 libswscale2 | libswscale-extra-2,
 python, python-numpy, python-sympy,
 libboost-date-time1.54.0,
 libboost-filesystem1.54.0,
 libboost-iostreams1.54.0,
 libboost-python1.54.0,
 libboost-regex1.54.0,
 libboost-system1.54.0,
 libboost-thread1.54.0,
 libboost-wave1.54.0,
 libxml2,
 libopenscenegraph99,
 libopenthreads14,
 zlib1g,
 liblog4cxx10,
 libbullet2.82,
 libpcre++0
Replaces:
 openrave-minimal,
 openrave-python-minimal,
 openrave0.9-dp,
 openrave0.9-dp-base,
 openrave0.9-dp-data,
 openrave0.9-dp-dev,
 openrave0.9-dp-ikfast,
 openrave0.9-dp-matlab,
 openrave0.9-dp-octave,
 openrave0.9-dp-plugin-bulletrave,
 openrave0.9-dp-plugin-dualmanipulation,
 openrave0.9-dp-plugin-grasper,
 openrave0.9-dp-plugin-ikfastsolvers,
 openrave0.9-dp-plugin-logging,
 openrave0.9-dp-plugin-oderave,
 openrave0.9-dp-plugin-qtcoinrave,
 openrave0.9-dp-plugin-qtosgrave,
 openrave0.9-dp-plugins-all,
 openrave0.9-dp-plugins-base,
 openrave0.9-dp-plugin-textserver,
 openrave0.9-dp-python
Description: OpenRAVE
 OpenRAVE provides an environment for testing, developing,
 and deploying motion planning algorithms in real-world
 robotics applications. The main focus is on simulation
 and analysis of kinematic and geometric information related
 to motion planning. OpenRAVE's stand-alone nature allows is
 to be easily integrated into existing robotics systems.
 .
 It provides many command line tools to work with robots and
 planners, and the run-time core is small enough to be used
 inside controllers and bigger frameworks. An important
 target application is industrial robotics automation.
